In [1]:
import mysql.connector
import pandas as pd

In [2]:
MRCONSO - 

add distinct

SyntaxError: invalid syntax (664613118.py, line 1)

In [3]:
#SELECT DISTINCT MRREL.CUI1, MRCONSO.STR, MRREL.CUI2, MRREL.REL FROM MRREL JOIN MRCONSO ON (MRREL.CUI1 = MRCONSO.CUI) WHERE REL = 'PAR' or REL='CHD'

In [2]:
query = ("SELECT DISTINCT MRREL.AUI2, MRREL.AUI1, MRREL.REL FROM MRREL WHERE REL = 'PAR' or REL='CHD'")
conn = mysql.connector.connect(user='umls', password='umls', database='umls2019ab', host='138.26.120.27')
cursor = conn.cursor()

In [ ]:

Join MRCONSO and MRCONSO.code to map litcoin terms with

In [3]:
cursor.execute(query)

In [4]:
total_relations_umls = []
for x in cursor:
    total_relations_umls.append(x)

In [7]:
df = pd.DataFrame(total_relations_umls, columns =['FirstAUI', 'SecondAUI', 'REL'])

In [6]:
df.to_csv('RelationsUMLS')

In [13]:
query2 = ('SELECT DISTINCT MRCONSO.AUI, MRCONSO.STR FROM MRCONSO WHERE ISPREF = "Y"')

In [14]:
cursor.execute(query2)

In [15]:
names_of_CUIS = []
for x in cursor:
    names_of_CUIS.append(x)

In [16]:
df = pd.DataFrame(names_of_CUIS, columns =['AUI', 'NAME'])

In [17]:
df.to_csv('NamesUMLS')

In [18]:
del df

In [19]:
df1 = pd.read_csv('NamesUMLS')

In [20]:
df1 = df1.drop_duplicates('AUI')

In [21]:
df2 = pd.read_csv('RelationsUMLS')

In [22]:
result = df2.merge(df1, left_on="FirstAUI", right_on="AUI")

In [23]:
result = result.drop(['Unnamed: 0_x','Unnamed: 0_y', 'AUI'], axis=1)

In [24]:
result = result.groupby(['FirstAUI','REL', 'NAME'])['SecondAUI'].apply(list).reset_index()

In [25]:
result.to_csv('UMLSgraph.csv')

In [26]:
df = pd.read_csv('UMLSgraph.csv')

In [27]:
result

,FirstAUI,REL,NAME,SecondAUI
0,A0000641,CHD,Sepsis,[A2198561]
1,A0000641,PAR,Sepsis,"[A16562618, A16574374, A16574375, A16586214, A..."
2,A0001632,CHD,Disease of esophagus,"[A0911980, A0916973]"
3,A0002116,CHD,Arizona,[A1263866]
4,A0002116,PAR,Arizona,"[A30390551, A1245199]"
...,...,...,...,...
3317417,A9422052,PAR,Poisoning due to venomous spider,"[A3185832, A16955727, A3059224, A22807989, A23..."
3317418,A9422054,CHD,Sneezing symptom,"[A2886675, A6929082]"
3317419,A9422054,PAR,Sneezing symptom,[A22845861]
3317420,A9422056,CHD,Temporal measure of symptom,"[A22903942, A3749215]"
3317421,A9422056,PAR,Temporal measure of symptom,"[A3207571, A3210770, A3210776, A10891333, A108..."

In [61]:
import ast
ast.literal_eval(df['SecondCUI'][0])

['C5162542']

In [ ]:
MRCONSO.CODE is what we normalize to 
skip sequence variants

In [ ]:
Try with Gene 
Try with Taxonomy
Vocabulary or Semantic Group
DiseaseOrPhenotypicFeature - MeSH and OMIM - Either one of those twos MR.SAB - OMIM or MESH

In [ ]:
Same Query WHERE SAB = OMIM OR MESH